@use "../variables" as *;

.component-editor {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem;
  box-shadow:
    inset -10px -10px 10px 0 rgba($color_shadow_light, 0.7),
    inset 10px 10px 20px 0 rgba($color_shadow_dark, 0.2);
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
  overflow-x: hidden;
  .text-placeholder p {
    margin-top:  50px;
    font-size: 1.2rem;
    color: $color_text_primary;
  }
}
