@use "../variables" as *;

.component-sidebar {
  flex: 3;
  max-width: 450px;
  border-radius: 2rem;
  box-shadow:
    // -10px -10px 30px 0 $color_shadow_light,
    10px 10px 30px 0 rgba($color_shadow_dark, 0.4);
  padding: 4rem 1rem;
  margin-bottom: 8rem;
  user-select: none;
  background-color: $color_card_background;
}
