@use "../variables" as *;

.component-sidebar {
  flex: 0 0 $side_component_width;
  margin-right: 4rem; // we cannot use gap of the flex container
  @extend %side_component_base;
  .field-base {
    padding: 0 1rem;
  }
  &.is-closed {
    flex-basis: 0px;
    margin-right: 0;
  }
}
