$color_background: #F0F0F3;
$color_placeholder: #b9b9b9;
$color_dropzone: #a7a7a7;
// Shadow colors
$color_shadow_light: #FFFFFF;
$color_shadow_dark: #AEAEC0;
// Card  colors
$color_card_background: #FAFAFA;
// Text colors
$color_text_primary: #333333;


%field_base {
  background-color: $color_background;
  width: 100%;
  border-radius: 1rem;
  border: none;
  padding: 13px;
  :hover {
    cursor: grab;
  }
  font-size: 20px;
  font-weight: 500;
  outline: none;
}