// ---------------------------------
// Colors
// ---------------------------------
// App colors
$color_primary: #4A90E2;
// Background colors
$color_background: #F0F0F3;
$color_placeholder: #b9b9b9;
$color_dropzone: #a7a7a7;
$color_card_background: #FAFAFA;
// Shadow colors
$color_shadow_light: #FFFFFF;
$color_shadow_dark: #AEAEC0;
// Text colors
$color_text_primary: #333333;
// ---------------------------------
// Dimensions
// ---------------------------------
$side_component_width: 450px;
// ---------------------------------


%field_base {
  background-color: $color_background;
  width: 100%;
  border-radius: 1rem;
  border: none;
  padding: 13px;
  :hover {
    cursor: grab;
  }
  font-size: 20px;
  font-weight: 500;
  outline: none;
}

%side_component_base {
  padding: 4rem 0;
  border-radius: 2rem;
  box-shadow:
    // -10px -10px 30px 0 $color_shadow_light,
    10px 10px 30px 0 rgba($color_shadow_dark, 0.4);
  margin-bottom: 8rem;
  user-select: none;
  background-color: $color_card_background;
  transition: flex-basis 250ms ease-out;
  overflow: hidden;
}