@use "../../variables" as *;

.field-base {
  width: 100%;
  min-width: 368px;
  .field-base-content {
    :hover {
      cursor: grab;
    }
    &.is-dragging {
      opacity: 0.4;
    }
    position: relative;
    p.field-base-label {
      position: absolute;
      top: -1.25rem;
      left: 0.75rem;
      text-align: start;
      font-size: 1rem;
      font-weight: 500;
      color: $color_text_primary;
    }
    // Focus state for inputs
    &:not(p):focus-within {
      border: 1px solid $color_primary;
      border-radius: 1rem;
    }
  }
}
