@use "../../variables" as *;

.field-text {
  background-color: $color_background;
  width: 100%;
  border-radius: 1rem;
  border: none;
  padding: 13px;
  :hover {
    cursor: grab;
  }
  font-size: 20px;
  font-weight: 500;
  box-shadow: inset -5px -5px 10px rgba($color_shadow_light, 0.7),
    inset 5px 5px 10px rgba($color_shadow_dark, 0.2);
  outline: none;
}