@use "../../variables" as *;

$base_dimension: 1.5rem;

.field-dropzone {
  background-color: rgba(red, .2);
  position: absolute;
  &.top {
    height: $base_dimension;
    width: calc(100% - 2 * $base_dimension);
    left: $base_dimension;
    top: 0;
  }
  &.right {
    height: calc(100% - 2 * $base_dimension);
    width: $base_dimension;
    top: $base_dimension;
    right: 0;
  }
  &.bottom {
    height: $base_dimension;
    width: calc(100% - 2 * $base_dimension);
    left: $base_dimension;
    bottom: 0;
  }
  &.left {
    height: calc(100% - 2 * $base_dimension);
    width: $base_dimension;
    top: $base_dimension;
    left: 0;
  }
}