@use "../../variables" as *;

.components-form-form_card {
  border-radius: 1rem;
  background-color: $color_card_background;
  padding: 1rem;
  margin: 0 auto;
  min-width: 400px;
  max-width: 600px;
  text-align: center;
}